a {
  text-decoration: none; }

body {
  background: #dddddd;
  margin: 20px 5%;
  font-size: 110%; }

h1 span {
  display: block;
  font-size: 65%; }

a, h1 {
  color: #cc0000; }

a:hover {
  color: #ee2222; }

.btn {
  background: #cc0000;
  border-radius: 10px;
  color: white;
  padding: 4px 10px; }
  .btn:hover {
    color: white;
    background: #ee2222; }

.collection .model {
  font-size: 1.4em; }

.model .model {
  font-size: 1.5em; }
