// fixing css with a preprocessor (sass, less, etc...)
@import "mixins"

// reset

a 
  text-decoration: none

$light_bg: #DDD
$main: #C00

body
  background: $light_bg
  margin: 20px 5%
  
a, h1
  color: $main
  
a:hover
  color: $main + #222

iframe
  width: 100%

.term 
  width: 45%

  margin: 0 1.5% 1%

  height: 300px
  float: left

@media (max-width: 700px)
  
  .term
    width: 100%
    margin: 0 0 2.5%
    height: 250px
    